html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #8c569959;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Globales*/
body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
    margin: 0 0 0.5px 0;
    color: white;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: #000
}

.contenedor {
    max-width: 120rem;
    margin-inline: auto;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: #769c02;
}

.logo {
    background-color: #8445949f;

}

.logo img {
    display: block;
    margin: auto;
    height: 30px;
    width: 80px;
}

/*Cabecera*/

.cabecera {
    background-color: white;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre-pag {
    font: 33;
    font-size: 80px;
    text-align: center;
    color: #5f2670;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93,
        -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93,
        -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93,
        -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93,
        -8px 7px #cdd2d5;
}

.nombre-pag span {
    color: #9a04a8;
}

.contenedor-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
}

.nav-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-principal a {
    display: block;
    padding: 14px 14px;
    color: #8445949f;
}

.nav-principal a:hover {
    background: rgb(151, 151, 151);
}

/*End Cabecera*/

/*Main*/

.contenido-incidencia {
    border: white;
    margin-top: 4rem;
}

.contenido-incidencia img {
    display: block;
    margin: auto;
    height: 20rem;
    width: 20rem;
    background-color: white;
    margin-bottom: 4rem;
}

.elementos-formulario {
    display: block;
}

.elemento {
    background-color: white;
    text-align: center;
    margin-bottom: 4rem;
    margin-right: 40rem;
    margin-left: 40rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.elemento li {
    list-style-type: none;
}

/*End Main*/

/*Footer*/

.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
}

.site-footer p {
    color: white;
}

.site-footer h3 {
    color: white;
}

.copyright {
    text-align: center;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3.5rem;
    text-align: center;
}

.footer-menu:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer-menu:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 6;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-menu a {
    margin-top: 1rem;
    color: white;
}

.copyright {
    margin-top: 3.5rem;
}

.copyright span {
    font-weight: bold;
}

/*End Footer*/